<?xml version="1.0" encoding="UTF-8"?>
<html>
  <body>
    <header></header>
        <CENTER>
          <img src="https://www.uvv.br/wp-content/themes/uvvBr/templates/assets//img/logouvv.svg" alt="UVV-LOGO" style = width="100px"; height="100px">
        </CENTER>
        <CENTER><b>AN√ÅLISE DE DADOS</b></CENTER>
        <CENTER><b>AOP2 - ATIVIDADE ONLINE PONTUADA 2</b></CENTER><br/>

**NOME COMPLETO:**

#ATIVIDADE ONLINE PONTUADA ‚Äì AOP2

**Link do Arquivo table.csv**: [Clique Aqui!](https://drive.google.com/file/d/1mT9HM6oirjvuXZkFTZRQyFWRebX3fS3B/view?usp=sharing)

# Carregar o Dataset (arquivo)

In [1]:
import pandas as pd
import numpy as np
# importe outras bibliotecas que vc julgar necess√°rio.

In [2]:
table = pd.read_csv('table.csv', index_col = 0)

In [3]:
table.head()

   C√ìDIGO    REGI√ÉO       SEXO PAGAMENTO  TOTAL (R$)
0    5151  SULDESTE  MASCULINO    D√âBITO     6872.16
1    6604       SUL   FEMININO   CR√âDITO     5219.01
2    6539  SULDESTE  MASCULINO    D√âBITO     9945.68
3    6922  SULDESTE   FEMININO   CR√âDITO     9993.06
4    4546  SULDESTE  MASCULINO   CR√âDITO     5536.25

# **A partir do Dataset: table.csv, conforme as colunas do enunciado:**

Resposta as seguintes quest√µes:

# **QUEST√ÉO a):**

Fa√ßa a an√°lise de Perfil de cliente por agrega√ß√£o: SEXO x PAGAMENTO x TOTAL (plot) e seu Box Plot.

# **QUEST√ÉO b):**

Fa√ßa a an√°lise de Perfil de cliente por agrega√ß√£o: REGI√ÉO x PAGAMENTO x TOTAL (plot) e seu Box Plot.

# **QUEST√ÉO c):**

Fa√ßa a an√°lise estat√≠stica, com o info e o describe, sobre os dados dos clientes.

# **QUEST√ÉO d):**

Enumere 3 caracter√≠sticas inferidas encontradas a partir dos resultados estat√≠sticos obtidos nos itens a), b) e c):

1.   Caracter√≠stica 1:
2.   Caracter√≠stica 2:
3.   Caracter√≠stica 3:

# **OBSERVA√á√ÉO IMPORTANTE:**

**PARA ENTREGAR A ATIVIDADE:**

OBRIGAT√ìRIO: Fa√ßa a impress√£o do seu **Notebook Colab (.ipynb) no formato PDF (Acrobat): .PDF** e fa√ßa o upload no AVA: AOP2.pdf.

#CONVERTER IPYNB para PDF

PASSO A PASSO:

1.   Fazer o download do seu IPYNB.
2.   Fazer o upload do seu IPYNB para √°rea tempor√°ria: content.
3.   Rodar o c√≥digo abaixo com seu NOME_DO_COLAB.ipynb: Gerar um HTML.
4.   Fazer o download do seu HTML e abrir em um Browser qualquer.
3.   Imprimir a p√°gina HTML em PDF. Pronto (UFA)::: üòÖ!

In [ ]:
%%shell
jupyter nbconvert --to html /content/NOME_DO_COLAB.ipynb

**N√ÉO ENVIAR O ARQUIVO COLAB: .IPYNB**

**FA√áA AQUI UM LINK PARA O PROFESSOR** (COMPARTILHADO COM TODOS): [Link para o professor!]